<mat-toolbar color="primary">
  <!--<span [textContent]='title'></span>-->
  <span>{{title}}</span>
  <a routerLink="/home" mat-button>
    <mat-icon>home</mat-icon>
    Accueil
  </a>
  <a [routerLink]="['/car/list']" mat-button>
    <mat-icon>taxi_alert</mat-icon>
    Voitures
  </a>
  <a routerLink="/car/add" mat-button>
    <mat-icon>add</mat-icon>
    Ajouter
  </a>

  <div *ngIf="user else login">
    Bonjour {{user.name}}
    <button mat-button (click)="onLogout()">
      <mat-icon>locked_out</mat-icon>Se déconnecter
    </button>
  </div>

  <ng-template #login>
    <a routerLink="/auth/login" mat-button>
      <mat-icon>locked_in</mat-icon>
      Connexion
    </a>
  </ng-template>



</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>