/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin: 0 auto 0 auto;
 
}

.my-form{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.my-form > *{
    width: 50%;
}

.table{
    width: 100%;
    table-layout: auto;
}
.table-striped tr:nth-child(even){
    background-color: #aaaaaa;
}