<h1>Connexion</h1>

<form class="my-form" *ngIf="!user else log">
    <mat-form-field>
        <input matInput type="email" placeholder="Login" #mail (keyup.enter)="password.focus()">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" #password
            (keyup.enter)="onLogin(mail.value, $event)">
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" type="button" (click)="onLogin(mail.value, $event)">Se
            connecter</button>
    </div>
</form>

<ng-template #log>
    <div>
        Bonjour {{user?.name}}
    </div>
</ng-template>