<h2>Ajouter une voiture</h2>

<form class="my-form" [formGroup]="formCar" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field>
        <input matInput type="text" placeholder="Modèle" formControlName="model">
        <mat-error>Le modèle est obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="currency" placeholder="Prix" formControlName="price">
        <mat-error>Le prix est mauvais</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Date de mise en circulation" formControlName="dateOfCirculation"
            [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>La date est obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="$brands | async as brands">
        <mat-select matInput type="currency" placeholder="Marque" formControlName="markID">
            <mat-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</mat-option>
        </mat-select>
        <mat-error>La marque est obligatoire</mat-error>
    </mat-form-field>

    <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="formCar.invalid">Enregistrer</button>
    </div>
</form>